extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug

block main
  h1 Trang danh sách sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filter-status(filterStatus)
        .col-6
          +search(keyword)

  .card.mb-3
    .card-header Danh Sách
    .card-body
      table.table.table-bordered
        thead
          tr
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Trạng thái
            th Hành động
        tbody
          each item, index in products
            tr
              td #{index + 1}

              td
                img(src=item.thumbnail alt=item.title width="100px")

              td #{item.title}

              td #{item.price}$

              td
                if item.status == "active"
                  a.badge.badge-success(
                    href="javascript:;"
                    data-status=item.status
                    data-id=item._id
                    button-change-status
                  ) Hoạt động
                else
                  a.badge.badge-danger.button-change-status(
                    href="javascript:;"
                    data-status=item.status
                    data-id=item._id
                    button-change-status
                  ) Dừng Hoạt động

              td
                button.btn.btn-warning.btn-sm Sửa
                button.btn.btn-danger.btn-sm.ml-1 Xóa

  // Pagination (PHẢI ở trong block main)
  +pagination(pagination, status, keyword)

  // tạo form ẩn
  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`)

block scripts
  script(src="/admin/js/product.js")