extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-4
    .row
      .col-12
        +box-head("Danh Sách Sản Phẩm")

    //- List động
    .row
      each item in products
        .col-12.col-sm-6.col-md-4.mb-4
          .product-item.shadow-sm.h-100
            .inner-image.mb-3
              a(href=`/products/${item.slug}`)
                img(src=item.thumbnail alt=item.title class="img-fluid")
            .inner-content
              h3.inner-title.mb-2
                a(href=`/products/${item.slug}`) #{item.title}
              .d-flex.align-items-baseline.mb-1
                .inner-price-new.mr-2 #{item.priceNew}$
                .inner-price-old.mr-2 #{item.price}$
                .inner-discount #{item.discountPercentage}%