extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-4
    .row
      .col-12
        +box-head(category.title)
        if category.description
          .mb-4!= category.description

    .row.mb-3
      .col-12
        a.btn.btn-sm.btn-outline-secondary.mr-2.mb-2(href="/products") Tất cả sản phẩm
        each item in categories
          a.btn.btn-sm.mr-2.mb-2(
            href=`/product-categories/${item.slug}`
            class=(item.slug === category.slug) ? "btn-primary" : "btn-outline-secondary"
          ) #{item.title}

    .row
      each item in products
        .col-12.col-sm-6.col-md-4.mb-4
          .product-item.shadow-sm.h-100
            .inner-image.mb-3
              a(href=`/products/${item.slug}`)
                img(src=item.thumbnail alt=item.title class="img-fluid")
            .inner-content
              h3.inner-title.mb-2
                a(href=`/products/${item.slug}`) #{item.title}
              if item.category
                .mb-2
                  a.badge.badge-info(href=`/product-categories/${item.category.slug}`) #{item.category.title}
              .d-flex.align-items-baseline.mb-1
                .inner-price-new.mr-2 #{item.priceNew}$
                .inner-price-old.mr-2 #{item.price}$
                .inner-discount #{item.discountPercentage}%
      if products.length === 0
        .col-12
          .alert.alert-secondary Danh mục này hiện chưa có sản phẩm.
